<div class="table-responsive small container">
    <table class="table table-sm" *ngIf="borrowerList">
        <thead>
            <tr>
                <th scope="col">BorrowerId</th>
                <th scope="col">Name</th>
                <th scope="col">NIC</th>
                <th scope="col">Address</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let borrower of borrowerList;">
                <td>#BN{{borrower.borrowerId}}</td>
                <td>{{borrower.name}}</td>
                <td>{{borrower.nic}}</td>
                <td>{{borrower.address}}</td>
                <td>{{borrower.contact}}</td>
                <td><button (click)="setSelectBorrower(borrower)" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button></td>
                <td><button (click)="setSelectBorrower(borrower)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-whatever="@getbootstrap"><i class="bi bi-pencil-square"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Conformation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        if you want delete
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="deleteBorrower()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- model Update conformation -->
<div class="modal fade" id="updateconformationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Conformation Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      If you want to update "{{selectedBorrower?.name}}" this borrower.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)=" saveBorrower()">Conform Update</button>
      </div>
    </div>
  </div>
</div>

  <!-- model Update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">ID:</label>
            <input type="text" value={{selectedBorrower?.borrowerId}} disabled class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" [(ngModel)]="selectedBorrower && selectedBorrower.name" [ngModelOptions]="{standalone: true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NIC:</label>
            <input type="text" [(ngModel)]="selectedBorrower && selectedBorrower.nic" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" [(ngModel)]="selectedBorrower && selectedBorrower.address" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Contact:</label>
            <input type="text" [(ngModel)]="selectedBorrower && selectedBorrower.contact" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#updateconformationModal">Update</button>
      </div>
    </div>
  </div>
</div>
